<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706115295900-l33cjd5itvmg60t6h9lj3299uegllhkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706115295900-l33cjd5itvmg60t6h9lj3299uegllhkr</string>
	<key>API_KEY</key>
	<string>AIzaSyD66Ee9QjfNkMylGhZtyFNkaGze4FaxE3A</string>
	<key>GCM_SENDER_ID</key>
	<string>706115295900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCodingChallenge.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-coding-challenge-a89c8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-coding-challenge-a89c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706115295900:ios:812cfb60d560255b98ab59</string>
</dict>
</plist>